{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My experience</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link
            href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
            rel="stylesheet"
    />
</head>
<body>
<div class="isi">
    <h1>my-Experience</h1>
    <br>
    <ul>
        <li>
            <h2>Asisten Dosen</h2>
            <h3>STMIK LIKMI AUG 2018 - Present</h3>
            <p>Berkeja sebagai asisten dosen di pelajaran dasar pemograman 1 dan 2</p>
        </li>
        <li>
            <h2>Peserta Beling</h2>
            <h3>Beling JULY 2019 - AUG 2019</h3>
            <p>Mengikuti program beasiswa dari beling!</p>
        </li>
    </ul>
    <img class="left mountain" src="{% static 'images/mountain.png' %}" alt="mountain" height="357px"
         width="598px">
</div>
<div class="skills">
    <h1>Skills</h1>
    <h2>PROGRAMMING LANGUAGES & TOOLS</h2>
    <ul class="list-icons">
        <li class="icon"><i class="fab fa-java"></i></li>
        <li class="icon"><i class="fab fa-js"></i></li>
        <li class="icon"><i class="fab fa-python"></i></li>
    </ul>
</div>
<div class="exp">
    <a href="/lab-1" target="_blank"><h2>< back to menu</h2></a>
</div>
</body>
<script src="https://kit.fontawesome.com/215f700fce.js"></script>
</html>