body {
    color: #293462;
    margin: 0;
    /*text-align: center;*/
    font-family: 'Merriweather', serif;
}

h1 {
    color: #216583;
    font-size: 5.625rem;
    margin: 5px auto 0 25px;
    font-family: 'Sacramento', cursive;
}

.isi {
    background-color: #fff1c1;
    position: relative;
    padding-top: 100px;
}

h2 {
    color: #f76262;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    /*margin: 0 auto;*/
    margin: 5px auto 0 25px;
}

li {
    padding-bottom: 35px;
}

p {
    text-align: center;
    margin: 0 345px auto 100px;
}

img {
    position: relative;
    float: left;
    padding: 0 20px 20px 0;
}

h3 {
    color: #293462;
    font-family: 'Montserrat', sans-serif;
}
.list-icons{
    font-size: 83px;
    padding: 0 10px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}
.icon{
    display: inline-block;
}