{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
{#    <link#}
{#            rel="stylesheet"#}
{#            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"#}
{#            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"#}
{#            crossorigin="anonymous"#}
{#    />#}
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
    <link
            href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
            rel="stylesheet"
    />
</head>
<body>
<div class="pembuka">
    <img class="top-cloud" src="{% static 'images/cloud.png' %}" alt="cloud-img">
    <h1>Hello my name is {{ name }}</h1>
    <h2>your <span class="underline">boy</span></h2>
    <img class="bottom-cloud" src="{% static 'images/cloud.png' %}" alt="cloud-img">
    <img
            class="mountain"
            src="{% static 'images/mountain.png' %}"
            alt="mountain-img"
            height="357px"
            width="598px"
    />

</div>

<div class="isi">
    <title>{{ name }}</title>
    <div class="profile">
        <h2>Hello.</h2>
        <img
                class="foto"
                src="{% static 'images/foto.jpg' %}"
                alt="foto-img"
                height="225px"
                width="175px"
        />
        <p class="intro">
            Nama saya {{ name }} {{ lname }} saya lahir di {{ tempatLahir }}, {{ birthdate }}. saat ini
            pekerjaan saya adalah Mahasiswa di {{ asalSekolah }} {{ asalDaerah }} angkatan 2017.
            also
            <article>I am {{ age }} years old</article>
        </p>
    </div>
    <div class="intro">
        <h2>My Hope.</h2>
        <img class="rocket" src="{% static 'images/rocket.png' %}" alt="rocket-img">
        <p class="hope">
            Harapan saya mengikuti kelas ini, adalah menambah skill saya dalam
            programming tetunya, karena ilmu adalah mahal. dan juga untuk
            mempersiapkan diri saya untuk di dunia kerja. dan membuat saya semakin
            rajin coding.
        </p>
    </div>
    <div class="exp">
        <a href="/my_experience" target="_blank"><h2>My experience</h2></a>
        <p>Click!</p>
    </div>
    <div class="contact">
        <h2>Hit Me Up.</h2>
        <a href="https://www.facebook.com/peter.wenyi" target="_blank"
        ><i class="icon fab fa-facebook-f fa-3x"></i
        ></a>
        <a
                href="https://mail.google.com/mail/?view=cm&fs=1&to=pieterjake321@gmail.com"
                target="_top"
        ><i class="icon fas fa-envelope-open fa-3x"></i
        ></a>
        <a href="https://wa.me/638121769414/?text=Hi" target="_blank">
            <i class="icon fab fa-whatsapp fa-3x"></i>
        </a>
    </div>

</div>
<script src="https://kit.fontawesome.com/215f700fce.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
></script>
</body>
</html>
