body {
    color: #293462;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #216583;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #f76262;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.pembuka {
    background-color: #fff1c1;
    position: relative;
    padding-top: 100px;
}

.isi {
    margin: 100px 0;
}

.underline {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.foto {
    border-radius: 50%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.icon {
    color: #293462;
    margin: auto 24px;
}

.rocket {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.hope {
    text-align: left;
    margin-right: 100px;
}